@model IEnumerable<StatlerAndWaldorf.Models.Movies>

@{
    ViewData["Title"] = "ExploreMovies";
    Layout = "~/Views/Shared/_MoviesLayout.cshtml";
}



<h2>Explore Movies</h2>

<section class="row" id="movie-container">

    @foreach (var item in Model)
    {
    <div class="col-xs-12 col-md-3 current-movie">
        <div class="Id" title="Movie Id">
            @Html.DisplayFor(modelItem => item.Id)
        </div>
        <div class="title" title="Movie title">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="genre" title="Movie genre">
            @Html.DisplayFor(modelItem => item.Genre)
        </div>
        <div class="date" title="Release date">
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </div>
        <div class="length" title="Movie length">
            @Html.DisplayFor(modelItem => item.Length)
        </div>

        <a asp-action="MovieProfile" asp-route-id="@item.Id">>Read Some More</a>

    </div>
    }
</section>

