@model StatlerAndWaldorf.Models.Movies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MoviesLayout.cshtml";
}



<section id="movie-profile-container" class="row">
    <div class="col-md-12 movie-profile">
        <div class="title"> @Html.DisplayFor(model => model.Title)</div>
        <span class="gener">@Html.DisplayFor(model => model.Genre)</span>
        <span class="date"> | @Html.DisplayFor(model => model.ReleaseDate)</span>
        <span class="length"> | @Html.DisplayFor(model => model.Length)</span>
    </div>
</section>

    <h2>Details</h2>

    <div>
        <h4>Movies</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Length)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
        <a asp-action="ExploreMovies">Back to List</a>
    </div>
