@model StatlerAndWaldorf.Models.Users
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>First Name</label>
            </th>
            <th>
                <label>Last Name</label>
            </th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Country</label>
            </th>
            <th>
                <label>Admin</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.admin)
            </td>
        </tr>
    </tbody>
</table>

